<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mobilabsolutions.payment.android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <!--android:usesCleartextTraffic="true"-->
        <activity android:name=".psdk.internal.psphandler.psppaypal.PayPalRedirectActivity"
                  android:theme="@style/Theme.AppCompat"
            />
        <activity android:name=".psdk.integration.braintree.BraintreePayPalActivity" />
        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
    </application>

</manifest>